<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hp_pk.dictionary">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.INTERNAL_SYSTEM_WINDOW"
        tools:ignore="ProtectedPermissions" />

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />

    <application
        android:name=".Dictionary"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">
        <activity
            android:name=".ui.activities.NavigationActivity"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.DictionaryActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".ui.activities.MyTutor"
            android:theme="@style/NoActionBar" />
        <activity android:name=".ui.activities.BookActivity" />
        <activity android:name=".ui.activities.BooksListActivity" />
        <activity
            android:name=".ui.activities.Payment"
            android:theme="@style/AppTheme" />

    </application>

</manifest>